@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --lato: "Lato", sans-serif;
  --quicksand: "Quicksand", sans-serif;

  /* Colors */
  --button-color: #3bb77e;
  --button-hover-color: #fdc040;
  /* --light-green: #bce3c9; */
  --light-green: #def9ec;
  --small-text: #7e7e7e;
  --blue: #253d4e;
  --border-color: #ececec;
}

body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
}

::selection {
  background-color: var(--button-color);
  color: white;
}
